html {
  height: 100%;
}

body{
    /*background-image: url(background.png);*/
    background-color: #FF7F50;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;

    /*text-shadow: 3px 3px 11px rgba(150, 150, 150, 0.5);*/
}



span{
    display: inline-block;
    vertical-align: center;
    text-align: center;
    position: relative;
    width: 90%;
    color: #2F4F4F;
    display: inline-block;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
}

h2{
     /*border: 1px solid black;*/
     position: relative;
     display: inline-block;
     text-align: right;
     width: 90%;
     font-size: 120px;
     padding-bottom: 20px;
     padding-top: 3px;
     color: #F5F5DC;
     right: 10px;
     left: 10px;
     margin: 0px;
     border-radius: 3px;
     font-family: 'Montserrat', sans-serif;
}

h3{
     position: relative;
     display: inline-block;
     text-align: left;
     width: 80%;
     font-size: 30px;
     padding-bottom: 5px;
     padding-top: 3px;
     color: white;
     right: 10px;
     left: 10px;
     margin: 0px;
     border-radius: 3px;
     font-family: 'Montserrat', sans-serif;
}

p{
    color: #FFF;
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: #EEE8AA;
}

.vases:hover{
    background-color: #FFA07A;
}
.vases{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    display: flex;
    background-color: #FFE4C4;
}
.photo {
  display: block;
  margin-left: auto;
  height: 100%
  width: 40%;
}

.bougeoir:hover{
    background-color: #FFA07A;
}

.bougeoir{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    display: flex;
    background-color: #FFE4C4;
}

.panier:hover{
    background-color: #FFA07A;
}
.panier{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    display: flex;
    background-color: #FFE4C4;
}

.suspension:hover{
    background-color: #FFA07A;
}
.suspension{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    display: flex;
    background-color: #FFE4C4;
}

.lampe:hover{
    background-color: #FFA07A;
}
.lampe{
   margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    padding-top: 1px;
    padding-left: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    display: flex;
    background-color: #FFE4C4;
}

#questionnaire{
    position: fixed;
    width: 
    top: 10px;
}

#basdepage{
    position: fixed;
    bottom: 10px;
    left: 0px;
    right: 0px;
}
#ours{
    bottom: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    color: #FFF;
    padding-bottom: 3px;
}
